@font-face {
  font-family: "Neuton Bold";
  src: url("../TIPOGRAFIAS/Neuton-Bold.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton Regular";
  src: url("../TIPOGRAFIAS/NeutonCursive-Regular.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton Extrabold";
  src: url("../TIPOGRAFIAS/Neuton-Extrabold.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton Extralight";
  src: url("../TIPOGRAFIAS/Neuton-Extralight.ttf") format("truetype"); }
  
  @font-face {
  font-family: "NeutonExtralightItalic";
  font-display: block;
  src: url("../TIPOGRAFIAS/Neuton-ExtralightItalic.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton Italic";
  src: url("../TIPOGRAFIAS/Neuton-Italic.ttf") format("truetype"); }
  
    @font-face {
  font-family: "Neuton Light";
  src: url("../TIPOGRAFIAS/Neuton-Light.ttf") format("truetype"); }
  
    @font-face {
  font-family: "Neuton Regular";
  src: url("../TIPOGRAFIAS/Neuton-Regular.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton SC Bold";
  src: url("../TIPOGRAFIAS/Neuton-SC-Bold.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton SC Extrabold";
  src: url("../TIPOGRAFIAS/Neuton-SC-Extrabold.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton SC Extralight";
  src: url("../TIPOGRAFIAS/Neuton-SC-Extralight.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton SC Light";
  src: url("../TIPOGRAFIAS/Neuton-SC-Light.ttf") format("truetype"); }
  
  @font-face {
  font-family: "Neuton SC Regular";
  src: url("../TIPOGRAFIAS/Neuton-SC-Regular.ttf") format("truetype"); }

  @font-face {
  font-family: "Mofita";
    font-display: block;
  src: url("../TIPOGRAFIAS/Mofita.otf") format("opentype"); }


.story-section .image-col .stikcer-inicio {
    position: absolute;
    right: -60px;
    top: -65px;
    z-index: 3;
}

.story-space {
	margin-left:4.5rem !important;
	margin-right:4.5rem !important;
}

.logo-dy {
	height:120px !important;
}

.logo-nm {
	height:50px !important;
}

body{
	/* font-family: NeutonExtralightItalic !important */
}

.testimonio-text {
	color: #481b0e !important;
	font-family: Neuton Regular !important;
}

.testimonio-item-img {
	max-width:100px !important; 
	display:inline-block !important;
}

.texto {
    position: relative !important;
    display: block !important;
    font-size: var(--font-20);
    margin-top: var(--margin-top-10);
    -webkit-transform: translateY(30px) !important;
    -ms-transform: translateY(30px) !important;
    transform: translateY(30px) !important;
}


.bd-image .links-box {
    position: relative;
    display: block;
    padding-top: var(--padding-top-40);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}

.footer-color {
	background:#622910;
}


.main-footer .info-col .inner {
    background: #481a0f !important;
}

.main-footer .links-col ul li a {
	font-family: Neuton Regular !important;
	color: #fff !important;
}

.main-footer .info-col .info li {
	font-family: Neuton Light !important;
	color: #fff !important;
}

.titulo-mofita {
	font-family: Mofita !important;
	font-size: 30px;
}

.info-numero{
	font-family: Neuton Light !important;
}

.story-text-light{
	font-family: Neuton Light !important;
	font-size: 30px;
}

.story-text-titulo{
	font-family: Mofita !important;
	font-size: 100px;
}

.titulo-platos-mofita {
	font-family: Mofita !important;
	font-size: 70px;
	color: #7f1111;
}


.platos-text-light{
	font-family: Neuton Light !important;
	font-size: 45px;
	color: #481b0e;
}

.title-box.centered .text {
    max-width: 1200px !important;
}

.platos-text-light-items{
	font-family: Neuton Light !important;
	font-size: 35px;
	color: #fff;
}

.subtitulo-inicio {
	font-family: Neuton Light !important;
	font-size: 30px;
	color: #fff;
}

.info-inicio{
	font-family: Neuton Light !important;
	color: #fff;
}

.hidden-bar-menu{
	background:#76151c !important;
}

.inner-box-menu{
	background:#76151c !important;
	font-family: Neuton Light !important;
}

.info-menu li {
	color: #fff !important;
}


.color-text-menu{
	color: #d39a61 !important;
	font-size: 50px;
}

.fixed-header .header-upper{
	background:#76151c !important;
}

.btn-wrap{
	font-family: Neuton Regular !important;
	font-size: 15px;
}

.btn-style-one:before {
	background: #6c2c0d !important
}

.btn-style-one {
	color: #6c2c0d !important;
	background: #d39a61 !important;
	border: 2px solid #d39a61 !important;
}


.boton-carta {
	color: #6c2c0d !important;
	border: 2px solid #d39a61 !important;
}

.boton-carta .btn-wrap .text-one{
		color: #fff !important;
}


.boton-carta .btn-wrap .text-two{
		color: #fff !important;
}


.boton-carta:before {
	background: #d39a61 !important;
}


.boton-carta-platos .btn-wrap .text-one{
	color: #6c2c0d !important;
}

.boton-carta-platos .btn-wrap .text-two{
	color: #fff !important;
}

.boton-carta-platos {
	
	border: 2px solid #481b0e !important;
}


.boton-carta-platos:before {
	background: #481b0e !important;
	
}




.boton-carta-story .btn-wrap .text-one{
	color: #fff !important;
}

.boton-carta-story .btn-wrap .text-two{
	color: #fff !important;
}

.boton-carta-story {
	
	border: 2px solid #d39a61 !important;
}


.boton-carta-story:before {
	background: #d39a61 !important;
	
}

.title-box .pattern-image img {
    max-width: 320px !important;
}


.inner-banner .title-box  .pattern-image {
    width: auto !important;
}

.btn-carga-titulo {
	width:250px ;
	padding: 5px 5px !important;
}

.menu-section  {
    padding-top: 0!important;
    padding-bottom:0 !important;
}

.menu-section .inner-banner {
    padding-top: 80px !important;
    padding-bottom: 100px !important;
}

.menu-section .subtitle {
    font-size: 47px !important;
	color: #7e0219 !important;
	font-family: Neuton Light !important;
}


.menu-section .title-box .pattern-image img {
    max-width: 170px !important;
}

.menu-section .titulo2 {
    font-size: 125px !important;
	color: #481b0e !important;
	font-family: mofita !important;
}


.menu-section .auto-container {
    max-width: 1700px !important;
}


.menu-section .tab-btn {
    font-size: 47px !important;
	color: #7e0219 !important;
	font-family: Neuton Regular !important;
}


.menu-section .menu-tabs .buttons .tab-buttons .tab-btn:before {

    border-top: none !important; 
    border-bottom: none !important; 
}

.menu-section .menu-tabs .buttons {
    border-top: 1px solid #7e0219 !important;
    border-bottom: 1px solid #7e0219 !important;
}

.menu-section .menu-tabs .menu-col .inner:after {
    border-right: 1px solid #7e0219 !important;
}

.menu-section .dish-block .title .price {
    font-size: 47px !important;
	color: #481b0e !important;
	font-family: Neuton Regular !important;
	background: none !important;
}

.menu-section .dish-block .title .ttl,
.menu-section .dish-block .title .ttl a {
    font-size: 47px !important;
	color: #481b0e !important;
	font-family: Neuton Regular !important;
	background: none !important;
}


.menu-section  .menu-tabs .dish-block .title:before {

    border-top: none !important;
    border-bottom: none !important;
}

.special-offer-two .inner-banner {
    padding-top: 80px !important;
    padding-bottom: 100px !important;
}


.special-offer-two .titulo2 {
    font-size: 125px !important;
	color: #fff !important;
	font-family: mofita !important;
}


.special-offer-two .offer-block-three .price {
    font-size: 44px !important;
	font-family: Neuton Regular !important;
}


.special-offer-two .offer-block-three h4 a {
    font-size: 47px !important;
	font-family: Neuton Regular !important;
}

.menu-one {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.menu-one .inner-banner {
    padding-top: 80px !important;
    padding-bottom: 100px !important;
}


.menu-one .title-box .pattern-image img {
    max-width: 260px !important;
}

.menu-one .titulo2 {
    font-size: 127px !important;
	color: #7e0219 !important;
	font-family: mofita !important;
}

.menu-one .menu-col .dish-block .title .ttl 
 {
   	background: none !important;
}

.menu-one .menu-col .dish-block .title .ttl a
{
	 font-size: 47px !important;
	font-family: Neuton Regular !important;

	color: #481b0e !important;
	
}

.menu-one .menu-col .dish-block .title .price  {
	color: #481b0e !important;
    font-size: 44px !important;
	font-family: Neuton Regular !important;
	   	background: none !important;
}


.menu-one .menu-col .dish-block .title:before {
    font-size: 160px !important;
	color: #fff !important;
	font-family: mofita !important;
	  border-top: none !important; 
    border-bottom: none !important; 
}

.menu-one  .auto-container {
    max-width: 1700px !important;
}


.menu2 .title-box .pattern-image img {
    max-width: 160px !important;
}

.menu2  .titulo2 {
    font-size: 127px !important;
	color: #fff !important;
	font-family: mofita !important;
}

.menu2  .menu-col .dish-block .title .price  {
	color: #db9556 !important;
    font-size: 44px !important;
	font-family: Neuton Regular !important;
	   	background: none !important;
}

.menu2 .menu-col .dish-block .title .ttl 
 {
   	background: none !important;
}

.menu2 .menu-col .dish-block .title .ttl a
{
	 font-size: 47px !important;
	font-family: Neuton Regular !important;

	color: #fff !important;
	
}

.chef-selection  .nuevo {
    position: relative;
    font-size: 45px !important;
	font-family: Neuton Regular !important;
    color: #db9556;
}

.chef-selection .title-box .text{
	  font-size: 35px !important;
	font-family: Neuton Regular !important;
    color: #fff;
}

#imagen3 {
    max-width: 450px !important;
}

#imagen4 {
    max-width: 500px !important;
}

.chef-selection .inner-banner {
    padding-top: 80px !important;
    padding-bottom: 100px !important;
}


.chef-selection .image-col {
     padding: none !important;
}

.chef-selection .outer-container {
    background: none !important;
}

.chef-selection .titulo2 {
    font-size: 160px !important;
	color: #fff !important;
	font-family: mofita !important;
}

.chef-selection .auto-container {
    max-width: 1500px !important;
}

.chef-selection .title-box .pattern-image img {
    max-width: 200px !important;
}


.chef-selection .content-col .inner {
    padding-left: 20px !important;
}

.subtitulo4 {
	color: #db9556 !important;
    font-size: 40px !important;
	font-family: Neuton Regular !important;
}

.subtitulo5 {
	color: #db9556 !important;
    font-size: 60px !important;
	font-family: Neuton Regular !important;
}


/*** 

====================================================================
STEVE
====================================================================

***/

.fixed-header .header-upper{
  position: relative;
  /*top: 0;*/
  /* background: #202020; */
  background: #6e2f2fad;
  border-bottom-color: rgba(0,0,0,0.15);
}

.header-two.fixed-header .header-upper{
  /* position: relative;
  display: block;
  padding: 40px 0px;
  margin-left:140px;
  width: 298px;
  height:auto;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease; */
  background: #ffffff;
}

.main-header .main-box .logo-box .logo img{
  position: relative;
  display: block;
  /* height: 50px; */
  height: 104px;
  z-index: 1;
  margin-left:50px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;*/
  z-index: 2;
}

.bg-video-wrap .pattern-image{
  position: relative;
  width:100px;
  margin:0 auto;
  /*margin-bottom: var(--margin-bottom-30);*/
  -webkit-transform:translateY(30px);
  -ms-transform:translateY(30px);
  transform:translateY(30px);
}

.bg-video-wrap h1 {
  /*text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
  height: 100px;*/
}

.title-box .subtitle{
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  /* color: var(--main-color); */
  color: #d39a61;
  /* font-size: var(--font-12); */
  font-size: 50pt;
  letter-spacing: 0.40em;
  line-height: 1em;
  margin-bottom: var(--margin-bottom-10);
  font-family: 'Neuton Light', serif;
}

.title-box .text{
  /* position: relative;
  padding-top: var(--padding-top-15);
  line-height: 1.85em; */
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.40;
  opacity: 0.80;
}

.fluid-section{
  position: relative;
  /* background: var(--color-five); */
  background-image: url(../images/FONDOS/FONDO12.png)
}

.image-gallery{
  position: relative;
  /* background-color:var(--color-four); */
  background-image: url(../images/FONDOS/FONDO13.png);
  padding-bottom: var(--padding-bottom-100);
  overflow: hidden;
}

.reservation-contactform .reservation-form form button{
  /*position: absolute;
  right: 0;
  top: 0;*/
  width: 230px;
  margin: 0 auto;
  display: block;
}

.contactinfo-block .inner-box{
  position: relative;
  display: block;
  padding-top: var(--padding-top-30);
  padding-left: var(--padding-left-20);
  padding-right: var(--padding-right-20);
  padding-bottom: var(--padding-top-40);
  text-align: center;
  min-height: 100%;
  /*background: var(--color-seven);*/
}

.chef-section .image-col .image:before{
  content: '';
  position: absolute;
  left: -20px;
  /*margin-left: -70px;*/
  width: 140px;
  top: 250px;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: url(../images/background/pattern-8.svg) center repeat;
}

.inner-banner .image-layer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.90;
}

.about-section .image-layer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.90;
}

.image-gallery .carousel-box{
  position: relative;
  margin-top:100px;
  border: 5px solid transparent;
  border-radius: none;
  background: linear-gradient(#6c2d0d42,rgba(231, 231, 231, 0.897)) padding-box, linear-gradient(45deg, #7f1111, #d39a61) border-box;
}

.numeroDev {
  font-size: 17px;
  margin-left: 5px;
  margin-right: 10px;
}

.fluid-section.alternate .content-col .content-box{
  float: right;
  margin-right: 100px;
}

.fluid-section .content-col .content-box{
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  margin-left: 100px;
}



